<div class="container">
  <header>
    <div class="row">
      <div class="col-lg-10">
        <nav>
          <ul class="nav nav-tabs p-3">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLink="/"
                >Home</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/about"
                >About Us</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/products"
                >Proucts</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/buy-product"
                >Buy Products</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/contact"
                >Contact Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </header>
</div>
