<div class="container text-center my-3 p-3">
  <h2 class="text-success my-2">Contact Us</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quia,
    repudiandae nemo vel eius laudantium velit dolor ipsum similique earum sequi
    asperiores magnam minus voluptatum sed tempore numquam, at nam!
  </p>

  <hr />

  <div class="row">
    <!-- First Card  -->
    <div class="col-lg-3">
      <app-card>
        <h5 class="card-title">Mobile</h5>
        <a routerLink="mobile" class="btn btn-success">Know More</a>
      </app-card>
    </div>

    <!-- Second Card  -->
    <div class="col-lg-3">
      <app-card>
        <h5 class="card-title">Laptop</h5>
        <a routerLink="mobile" class="btn btn-success">Know More</a>
      </app-card>
    </div>

    <!-- Third Card  -->
    <div class="col-lg-3">
      <app-card>
        <h5 class="card-title">Television</h5>
        <a routerLink="mobile" class="btn btn-success">Know More</a>
      </app-card>
    </div>

    <!-- Fourth Card  -->
    <div class="col-lg-3">
      <app-card>
        <h5 class="card-title">Washing Machine</h5>
        <a routerLink="mobile" class="btn btn-success">Know More</a>
      </app-card>
    </div>
  </div>
</div>
