<div class="container text-center my-3 p-3">
  <h2 class="text-success my-2">Products</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quia,
    repudiandae nemo vel eius laudantium velit dolor ipsum similique earum sequi
    asperiores magnam minus voluptatum sed tempore numquam, at nam!
  </p>

  <hr />

  <div class="row">
    <!-- Mobile  -->
    <div class="col-lg-3">
      <div class="card">
        <img
          src="../../../assets/ngFor-images/mobile.jpeg"
          class="card-img-top"
          style="width: 100%; height: 250px"
          alt="Mobile Image"
        />
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">
            Some quick example text to build on the card title.
          </p>
          <a routerLink="mobile" class="btn btn-success">Know More</a>
        </div>
      </div>
    </div>

    <!-- Laptop  -->
    <div class="col-lg-3">
      <div class="card">
        <img
          src="../../../assets/ngFor-images/laptop.jpg"
          class="card-img-top"
          style="width: 100%; height: 250px"
          alt="Laptop Image"
        />
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">
            Some quick example text to build on the card title.
          </p>
          <a routerLink="laptop" class="btn btn-success">Know More</a>
        </div>
      </div>
    </div>

    <!-- Television  -->
    <div class="col-lg-3">
      <div class="card">
        <img
          src="../../../assets/ngFor-images/tv.jpeg"
          class="card-img-top"
          style="width: 100%; height: 250px"
          alt="Television Image"
        />
        <div class="card-body">
          <h5 class="card-title">Television</h5>
          <p class="card-text">
            Some quick example text to build on the card title.
          </p>
          <a routerLink="television" class="btn btn-success">Know More</a>
        </div>
      </div>
    </div>

    <!-- Washing Machine  -->
    <div class="col-lg-3">
      <div class="card">
        <img
          src="../../../assets/ngFor-images/wm.jpeg"
          class="card-img-top"
          style="width: 100%; height: 250px"
          alt="Washing Machine Image"
        />
        <div class="card-body">
          <h5 class="card-title">Washing Machine</h5>
          <p class="card-text">
            Some quick example text to build on the card title.
          </p>
          <a routerLink="washing-machine" class="btn btn-success">Know More</a>
        </div>
      </div>
    </div>
  </div>
</div>
